%h2.ui.header Change your password
.ui.header
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .field
      = f.password_field :password, autofocus: true, autocomplete: "off", class: 'ui input', placeholder: "Password"
      - if @minimum_password_length
        %p.text-muted
          %small
            = @minimum_password_length
            characters minimum
    .field
      = f.password_field :password_confirmation, autocomplete: "off", class: 'ui input', placeholder: "Confirm Password"
    .field
      = f.submit "Change my password", class: 'ui primary button'
  .text-center
    = render "devise/shared/links"
