- if user_masquerade?
  .ui.warning.message
    You're logged in as
    %b
      = current_user.username
      (#{current_user.email})
    = link_to back_masquerade_path(current_user) do
      = icon("fas", "times")
      Logout
.ui.padded.attached.top.menu
  .item
    .ui.header= link_to Rails.configuration.application_name, root_path
  .right.menu
    - if user_signed_in?
      .ui.pointing.dropdown.item
        .ui.avatar.image= image_tag gravatar_image_url(current_user.email, size: 40), height: 25, width: 25
        %i.ui.dropdown.icon
        .menu
          .item
            = link_to notifications_path do
              %i.ui.green.flag.icon
              Notifications
          - if current_user.admin?
            .item= link_to "Admin Area", admin_root_path
          .item= link_to "Settings", edit_user_registration_path
          .item= link_to "Logout", destroy_user_session_path, method: :delete
    - else
      .item= link_to "Sign Up", new_user_registration_path
      .item= link_to "Login", new_user_session_path
    .item
      = link_to announcements_path do
        %i.ui.yellow.star.icon
        What's New

:javascript
  $(document).ready(function(){
    $('.ui.dropdown').dropdown();
  });
