.ui.middle.aligned.center.aligned.grid
  .row
    .ui.stacked.segment  
      %h1.ui.header Log in
      .ui.large.form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .ui.left.icon.input
              %i.ui.grey.user.icon
              = f.text_field :login, autofocus: true, placeholder: 'Login with email or username'
          .field
            .ui.left.icon.input
              %i.ui.grey.lock.icon
              = f.password_field :password, autocomplete: "off", placeholder: 'Password'
          - if devise_mapping.rememberable?
            .field
              = f.check_box :remember_me, class: "ui checkbox"
              Remember me
          .field
            = f.submit "Log in", class: "ui primary button"
        .ui.divider
        = render "devise/shared/links"