.ui.large.form
  = form_with(model: room, local: true) do |form|
    - if room.errors.any?
      #error_explanation
        %h2.ui.header
          = pluralize(room.errors.count, "error")
          prohibited this room from being saved:
        %ul
          - room.errors.full_messages.each do |message|
            %li= message
    .field
      = form.label :name
      = form.text_field :name, class: 'ui input'
    .field
      = form.label :passcode
      = form.text_field :passcode, class: 'ui input'
    .field
      = form.label :status
      = form.text_field :status, class: 'ui input'
    .field
      - if room.persisted?
        .floated.right
          = link_to 'Destroy', room, method: :delete, class: "ui negative button", data: { confirm: 'Are you sure?' }
      = form.submit class: 'ui primary button'
      - if room.persisted?
        = link_to "Cancel", room, class: "ui basic button"
      - else
        = link_to "Cancel", rooms_path, class: "ui basic button"
