= form_with(model: room, local: true) do |form|
  - if room.errors.any?
    #error_explanation
      %h2
        = pluralize(room.errors.count, "error")
        prohibited this room from being saved:
      %ul
        - room.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :name
    = form.text_field :name, class: 'form-control'
  .form-group
    = form.label :passcode
    = form.text_field :passcode, class: 'form-control'
  .form-group
    = form.label :status
    = form.text_field :status, class: 'form-control'
  .form-group
    - if room.persisted?
      .float-right
        = link_to 'Destroy', room, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' }
    = form.submit class: 'btn btn-primary'
    - if room.persisted?
      = link_to "Cancel", room, class: "btn btn-link"
    - else
      = link_to "Cancel", rooms_path, class: "btn btn-link"
