%h1= @room.name
.ui.comments{ data: { behavior: "messages", "room-id": "#{@room.id}" } }
  - @messages.each do |message|
    = render message

.ui.large.form
  = form_for [@room, Message.new], remote: true do |f| 
    .field
      = f.text_field :body, placeholder: "Message #{@room.name}", autofocus: true
    