<div class="page-header">
  <%= link_to rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Rooms
  <% end %>
  <%= link_to edit_room_path(@room), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show room</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @room.name %></dd>

  <dt>Passcode:</dt>
  <dd><%= @room.passcode %></dd>

  <dt>Status:</dt>
  <dd><%= @room.status %></dd>

</dl>
