%h1= @room.name
.ui.comments
  - @messages.each do |message|
    .comment
      .avatar
        .circular.mini.image= image_tag gravatar_image_url(current_user.email, size: "60px")
      .content
        .author
          = message.user.username
          .metadata
            .date
              = time_ago_in_words(message.created_at)
        .text
          = message.body

.ui.large.form
  = form_for [@room, Message.new] do |f| 
    .field
      = f.text_field :body, placeholder: "Message #{@room.name}"
    