!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = render 'shared/head'
  %body
    = render 'shared/navbar'
    - if user_signed_in?
      .ui.grid
        .four.wide.column
          .ui.fluid.vertical.attached.menu
            .item
              = link_to new_room_path do
                Create Room
                %i.ui.plus.icon
            - current_user.rooms.each do |room|
              .item
                .ui.button= link_to room.name, room_path(room), data: { behavior: "room-link", room_id: room.id }
                .right.floated.ui.secondary.basic.button= link_to "Edit", edit_room_path(room)
        .eight.wide.column
          = render 'shared/notices'
          .ui.basic.segment
            = yield
        .four.wide.column
    - else
      .container
        = render 'shared/notices'
        = yield
    = render 'shared/footer'
