!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = render 'shared/head'
  %body
    = render 'shared/navbar'
    = render 'shared/notices'
    - if user_signed_in?
      .ui.grid
        .four.wide.column
          .ui.vertical.attached.menu
            .item= link_to "New Room", new_room_path
            .item= link_to "All Rooms", rooms_path
            - if user_signed_in?
              - current_user.rooms.each do |room|
                .item= link_to room.name, room_path(room)
                .item= link_to "Edit", edit_room_path(room)
        .ten.wide.column
          = yield
    - else
      .container
        = yield
    = render 'shared/footer'
