!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    = render 'shared/head'
  %body
    = render 'shared/navbar'
    - if user_signed_in?
      .ui.grid
        .four.wide.column.no-padding-grid
          .ui.fluid.vertical.attached.menu
            .item= link_to "New Room", new_room_path
            .item= link_to "All Rooms", rooms_path
            .ui.divider
            - current_user.rooms.each do |room|
              .item= link_to room.name, room_path(room)
              .item= link_to "Edit", edit_room_path(room)
        .twelve.wide.column.no-padding-grid
          = render 'shared/notices'
          .ui.hidden.divider
          = yield
    - else
      .container
        = render 'shared/notices'
        = yield
    = render 'shared/footer'
